//-- Text Family --//
@font-face {
  font-family: 'speedText';
  src: url('../fonts/HKCompakt.otf') format('opentype');
}

@font-face {
  font-family: 'speedNavbar';
  src: url('../fonts/Avenir.otf') format('opentype');
}


//---- Font Family ----//
$roboto: 'Roboto', sans-serif;
$source-sans-pro: 'Source Sans Pro', sans-serif;
