//-- PRIMARY COLORS --//
$white: white;
$black: black;
$red: red;
$blue: blue;
$green: #41D069;
$grey : grey;

//-- SPEED COLORS --//
$title: #3E417E;
$text: #9DA1CF;
$nav: #C1C5E9;


//-- GREEN COLORS --//
$greenClear: #00AB36;
