//-- PRIMARY COLORS --//
$white: white;
$black: black;
$red: #FF5558;
$purple: #5C57FF;
$green: #41D069;
$grey : grey;

//-- SPEED COLORS --//
$title: #3E417E;
$text: #9DA1CF;
$nav: #C1C5E9;
$bg-blue: #F0F2FF;


//-- NEW COLORS --//
$greenClear: #00AB36;
$greenSection: #009688;
$romance: #FCFCFE;
