@import 'variables';

body {
  background-color: $background-color;
}

.coming-soon {
  margin-top: 25px;
  text-align: center;
  padding: 15px;
  color: $white;

  img {
    height: 20vw;
    display: block;
    margin: auto;
  }

  h1, h2 {
    font-size: 20px;
    color: $white;
    font-family: $open-sans-condensed;
    font-weight: 300;
  }

  input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid $monkeySkin;
    box-shadow: 0 1px 0 0 $monkeySkin;

    &+label {
      color: $monkeySkin;
    }
  }

  .hidden-users {
    p {
      display: none;
    }
  }

  .row-mail {
    p {
      color: $green400;
    }

    .btn {
      background-color: $green900;
    }
  }

  .error-mail {
    p {
      color: $red;
    }
  }

  .success-mail {
    p {
      color: $green400;
    }
  }

  .btn-mail {
  	height: 55px;
  	width: 55px;
  	background-color: $green900;
  	position: fixed;
  	bottom: 35px;
  	right: 35px;
  	cursor: pointer;
  	border-radius: 5px;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    img {
      margin: 15px;
      height: 24px;
    }
  }
}
