@import 'variables';

.header {
  position: absolute;
  right: 38px;
  margin-top: 35px;

  p {
    margin-left: 20px;
    display: inline-block;
    color: $white;
    font-family: $source-sans-pro;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
  }

  .selected-item {
    color: $monkeySkin;
    border-bottom: 2px solid $monkeySkin;
  }

  .navbar-item {
    &::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background: $white;
      transition: width .4s;
    }

    &:hover::after {
      width: 100%;
    }
  }


}

.logo {
  height: 70px;
  position: absolute;
  left: 30px;
  margin-top: 25px;

  @media (max-width: 800px) {
    height: 50px;
  }
}

.hamburger {
  position: absolute;
  right: 38px;
  margin-top: 48px;

  @media (max-width: 800px) {
    margin-top: 38px;
    right: 30px;
  }
}

.navbar-mobile {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
  position: absolute;
  background-color: $white;
  width: calc(100% - 60px);
  margin: {
    top: 90px;
    left: 30px;
    bottom: 0;
  }

  h1 {
    text-align: center;
    color: $text;
    border-bottom: 1px solid $border;
    font-size: 16px;
    font-weight: 700;
    font-family: $montserrat;
    text-transform: uppercase;
    border-bottom: none;
    padding-bottom: 25px;
    border-bottom: 1px solid $border;


    i {
      position: absolute;
      margin-left: 10px;
      margin-top: -3px;
      font-size: 22px;
    }
  }

  .first {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .last {
    padding-bottom: 10px;
    border: none;
  }

  .selected {
    background: $tabActive;
    box-shadow: 0 0 $tabActive,
    0 -30px $tabActive;
  }
}