@import '../imports/variables';
@import '../imports/fonts';
@import '../imports/animate';

.home {
  margin-top: 160px;

  h1 {
    font-size: 26px;
    font-family: 'Speedy' sans-serif;
    text-transform: uppercase;
    color: $title;
    font-weight: 500;
  }

  .btn-home {
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 22px;
  }

  .description {
    margin-bottom: 25px;
  }

  .support {
    margin-top: 10px;
    color: $text;
    font-size: 14px;
  }

  .website {
    height: 300px;
    margin-top: -20px;
  }
}

.technology {
  margin-top: 50px;
  img { height: 50px; }
  p { color: $text; }

  .shopify {
    img:hover { content: url('../img/technology/shopifySelected.svg'); }
    p { display: none; }
    margin-top: 10px;
  }

  .react {
    img:hover { content: url('../img/technology/reactSelected.svg'); }
    p { display: none; }
    margin-top: 10px;
  }

  .wordpress {
    img:hover { content: url('../img/technology/wordpressSelected.svg'); }
    p { display: none; }
    margin-top: 10px;
  }

  .vue {
    img:hover { content: url('../img/technology/vueSelected.svg'); }
    p { display: none; }
    margin-top: 10px;
  }

  .prestashop {
    img:hover { content: url('../img/technology/prestashopSelected.svg'); height: 66px; margin-top: -4px;}
    p { display: none; }
    margin-top: 10px;
  }

  .angular {
    img:hover { content: url('../img/technology/angularSelected.svg'); }
    p { display: none; }
    margin-top: 10px;
  }

  .drupal {
    img:hover { content: url('../img/technology/drupalSelected.svg'); }
    p { display: none; }
    margin-top: 10px;
  }

  .symfony {
    img:hover { content: url('../img/technology/symfonySelected.svg'); }
    p { display: none; }
    margin-top: 10px;
  }

  .selected {
    p {
      display: block;
      color: $text;
      font-size: 14px;
     }
  }

}
