@import '../imports/variables';
@import '../imports/fonts';
@import '../imports/animate';

body {
  background-color: $white
}

a {
  text-decoration: none;
}

.header {

  .logo {
    height: 2vw;
    position: absolute;
    left: 25px;
    top: 25px;

    @media (max-width: 1024px) {
      height: 5vw;
    }
  }

  .navigation {
    position: absolute;
    right: 20px;
    top: 20px;

    h1 {
      font-size: 14px;
      font-weight: 600;
      margin-left: 20px;
      font-family: $source-sans-pro;
      text-transform: uppercase;
      color: $nav;
      cursor: pointer;
      display: inline-block;

      &:hover {
        color: $title;
      }

      &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: $title;
        transition: width .6s;
        margin-top: 2px;
      }

      &:hover::after {
        width: 100%;
      }

    }

    .button {
      margin-left: 20px;
      font-size: 14px;
      height: 30px;
      padding: {
        left: 15px;
        right: 15px;
        top: 10px;
        bottom: 0px;
      }
      font-weight: 600;
      font-family: $source-sans-pro;
      text-transform: uppercase;
      color: $white;
      background: $green;
      border-radius: 4px;
      border: none;
      cursor: pointer;

    }
  }

}
