@import 'variables.scss';

//--- Buttons ----//

.btn {
  background-color: $monkeyHair;
  color: $monkeySkin;

  &:hover, &:focus {
    background-color: $monkeyHair_40;
  }
}

//--- Header ---//

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .speedy {
    height: 30vmin;
    align-items: center;
    justify-content: center;
  }

 .col {
   display: inline-block;
   color: $monkeySkin;
   font-family: $source-sans-pro;
   font-size: 18px;
   text-decoration: none;
   cursor: pointer;
   text-transform: uppercase;

   &::after {
     content: '';
     display: block;
     width: 0;
     height: 3px;
     background: $monkeySkin;
     transition: width .5s;
   }

   &:hover::after {
     width: 100%;
   }
 }

}