@import 'variables.scss';

//--- React-materialize Elements (Button, Row, Col...) ----//

.btn {
  background-color: $btn;
  color: $white;

  &:hover, &:focus {
    background-color: $btnFocus;
  }
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  padding: {
    top: 10px;
    left: 30px;
    bottom: 10px;
    right: 30px;
  }
}

.dropdown-content {
  li {
    a, span {
      font-size: 14px;
      color: $text;
      display: block;
      line-height: 22px;
    }
  }
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
  background-color: $btn;
  border: $btn;
}

[type="checkbox"].filled-in:checked+label:after {
  border: 2px solid $btn;
  background-color: $btn;
}

[type="checkbox"].filled-in+label:after {
  margin: 2.5px;
}

[type="checkbox"]+label:before, [type="checkbox"]:not(.filled-in)+label:after {
  margin: {
    top: 4.5px;
    left: 2.5px;
  }
}

//--- Medias Queries ----//

// Set Defaults
.desktop-visible, .mobile-visible { display:none; }

// Desktop and landscape tablets
@media (min-width: 800px) {

  .desktop-visible {
    display: block;
    margin: 0 auto;
  }
}

// Portrait tablets and landscape mobiles
@media (max-width: 800px) {

  .mobile-visible {
    display: block;
    margin: 0 auto;
  }
}

//--- CSS Animations ----//

// Fade-In Effect

.fade-in {
  animation-name: fade-in;
  animation-fill-mode: both;
  animation-duration: .4s;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
