@import 'variables.scss';

//--- Natives Elements (h1, h2, h3, div ...) ----//

h1 {
  font-size: 6vmin;
  font-weight: 300;
  text-align: center;
  color: $text;
  border-bottom: 1px solid $text;
  padding-bottom: 15px;
}

//--- React-materialize Elements (Button, Row, Col...) ----//

.btn {
  background-color: $btn;
  color: $white;

  &:hover, &:focus {
    background-color: $btnFocus;
  }
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  padding: {
    top: 10px;
    left: 30px;
    bottom: 10px;
    right: 30px;
  }
}

.dropdown-content {
  li {
    a, span {
      font-size: 14px;
      color: $text;
      display: block;
      line-height: 22px;
    }
  }
}

.center {
  text-align: center;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
  background-color: $btn;
  border: $btn;
}

[type="checkbox"].filled-in:checked+label:after {
  border: 2px solid $btn;
  background-color: $btn;
}

[type="checkbox"].filled-in+label:after {
  margin: 2.5px;
}

[type="checkbox"]+label:before, [type="checkbox"]:not(.filled-in)+label:after {
  margin: {
    top: 4.5px;
    left: 2.5px;
  }
}

//--- Home ---//

.header {
  position: absolute;
  right: 38px;
  margin-top: 48px;

 .col {
   display: inline-block;
   color: $white;
   font-family: $source-sans-pro;
   font-size: 14px;
   letter-spacing: 0.1em;
   text-decoration: none;
   cursor: pointer;
   text-transform: uppercase;

   &::after {
     content: '';
     display: block;
     width: 0;
     height: 2px;
     background: $white;
     transition: width .4s;
   }

   &:hover::after {
     width: 100%;
   }
 }

}

.logo {
  height: 70px;
  position: absolute;
  left: 15px;
  margin-top: 25px;
}

