//---- Colors ----//

$background-color: #313639;

$monkeyHair: #4d2910;
$monkeyHair_40: #663615;
$monkeyHair_50: #80431b;
$monkeyHair_60: #994f22;
$monkeyHair_70: #b35d27;
$monkeyHair_80: #cc6a2d;
$monkeyHair_90: #e67732;
$monkeyHair_100: #ff8438;

$monkeySkin: #ffd9ba;

$white: #fff;

$text: #484848;

//---- Colors ----//

$btn: #FF4450;
$btnFocus: #ff6b6f;



//---- Font Family ----//

$roboto: 'Roboto', sans-serif;
$source-sans-pro: 'Source Sans Pro', sans-serif;
$thasadith: 'Thasadith', sans-serif;