@import '../variables';

.header-img {
  margin-top: -15px;
  background: url('../../img/home/header.jpg') center;
  background-size: cover;
}

.bg-test {
  margin-top: -15px;
  background: url('../../img/home/header.jpg') center;
  background-size: cover;
  height: 1000px;
}

.devis {

  h1 {
    font-size: 6vmin;
    font-weight: 300;
    text-align: center;
    color: $text;
    border-bottom: 1px solid $text;
    padding-bottom: 15px;
  }

  background-color: $white !important;
  margin-top: 120px;
  margin-bottom: 30px;

  i {
    margin-top: 5px;
    color: $text;
  }

  .row-with-p {

    i {
      margin-top: 0 !important;
      margin-right: 20px;
      font-size: 2rem;
    }

    p {
      margin-top: 0;
      height: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }

  .row-with-button {
    Button {
      margin-top: 5px;
    }

    p {
      color: $btn;
      &:hover, &:focus {
        color: $btnFocus;
        cursor: pointer;
      }
    }
  }
}